.rouge{
    background-color: red;
}
.vert{
    background-color: green;
}
.blanc{
    background-color: aliceblue;
}
.gris{
    background-color: silver;
}
.noir{
    background-color: black;
}
.orange{
    background-color: orange;
}
.jaune{
    background-color: yellow;
}
.rose{
    background-color: pink;
}
.bleu{
    background-color: blue;
}